rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    match /daily_workout_sessions/{docId} {
      allow read, write: if request.auth != null && docId.matches(request.auth.uid + '_.*');
    }
  }
}